/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}
/*
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.head-link {
  color: #069;
  cursor: pointer;
}

.tooltip {
  display: none;
  position: absolute;
  border: 1px solid #000;
  width: 400px;
  height: 400px;
}

.box {
  display: none;
  width: 100%;
}

  a:hover + .box, .box:hover {
    display: block;
    position: relative;
    z-index: 100;
  }

body {
  background-color: #eee;
}

table th, table td {
  text-align: center;
}

table tr:nth-child(even) {
  background-color: #BEF2F5
}

.pagination li:hover {
  cursor: pointer;
}

table tbody tr {
  display: none;
}

*/
